<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('./Partials/head.ejs') %>
<!-- head -->


<body>

    <!-- NAV SECTION: start -->
    <%- include('./Partials/nav.ejs') %>
    <!-- NAV SECTION: end -->

    <div class="not-found content">
        OOOPS, page not found
    </div>


    <!-- FOOTER SECTION: start -->
    <%- include('./Partials/footer.ejs') %>
    <!-- FOOTER SECTION: end -->
</body>

</html>