<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('./Partials/head.ejs') %>
<!-- head -->

<body>

    <!-- NAV SECTION: start -->
    <%- include('./Partials/nav.ejs') %>
    <!-- NAV SECTION: end -->


    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, laborum?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, laborum?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, laborum?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, laborum?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, laborum?</p>

    </div>

    <!-- FOOTER SECTION: start -->
    <%- include('./Partials/footer.ejs') %>
    <!-- FOOTER SECTION: end -->
</body>

</html>